.vehicleData {
  height: 90%;
  margin-top: 5%;
  overflow-y: auto;
}

.row-id {
  width: 15%;
}

.row-name {
  width: 45%;
}

.row-status {
  width: 40%;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}
