{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["dist/**", "old-src/**", "resources/**"],
  "rules": {
    "indentation": 2,
    "declaration-block-no-duplicate-properties": true,
    "no-empty-source": null,
    "string-quotes": "single"
  }
}
