/*
 * 	This file contains all styles that should be used throughout the application.
 *
 * 	Any container-specific CSS should be done in their container-specific CSS file.
 */

html {
	font-family: Roboto, Arial, sans-serif !important;
}

body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	display: grid;
	background: #AAA;
}

p {
	color: rgb(25, 25, 25);
	font-size: 14px; 
	padding-left: 5px;
	padding-right: 5px;
}

button {
	font-size: inherit;
	height: 2.3em;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #59cc33;
	border-bottom: 2px solid #47a527;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	color: #f9f9f9;
}

button:active {
	background-color: #47a527;
}

object {
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

webview {
	width: 100%;
	height: 100%;
}
