/*
 * This file contains all styles that should be pervasive throughout the application.
 * All HTML files should use these styles, so that changing any of the following attributes
 * can update the entire program at once.
 *
 * Any page-specific CSS, such as identifying the formatting for a particular div, should be
 * done in a page-specific CSS file.
 */

html {
   font-family: Roboto, Arial, sans-serif !important;
}

body {
   padding: 0px;
   margin: 0px;
   overflow-x: hidden;
}

button {
   font-size: inherit;
   height: 2.3em;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #59cc33;
   border-bottom: 2px solid #47a527;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   color: #f9f9f9;
}

button:active {
   background-color: #47a527;
}

object {
   width: 100%;
   height: 100%;
}

iframe {
   width: 100%;
   height: 100%;
   border: none;
}

webview {
   width: 100%;
   height: 100%;
}
