/*
 * CSS definitions for INDEX.HTML
 */

.gridWrapper {
   display: grid;

   grid-gap: 5px;

   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-template-areas:
   "map map map vehicleStatus"
   "map map map vehicleStatus"
   "map map map missionSetup"
   "log log log missionSetup";

   background: #666
}

.mapContainer {
   grid-area: map;
}

.missionSetupContainer {
   grid-area: missionSetup;
}

.vehicleStatusContainer {
   grid-area: vehicleStatus
}

.logContainer {
   grid-area: log;
}
