/* Defined styles for Log.js */

.logContainer .row {
  display: flex;
  margin: 0;
}

.logContainer .messages {
  background-color: #000;
  width: 100%;
  height: calc(100% - 25px);
  color: #fff;
}

.logContainer .time {
  margin-right: 2em;
}

.logContainer .controls {
  height: 25px;
  width: 100%;
  background-color: #ccc;
  border-top: 1px solid #858585;
}
