/* Defined styles for Map.js */

.leaflet-control-geolocation {
  cursor: pointer;
  background-size: 75%;
  background-image: url('../../../resources/images/other/geolocation.png');
}

.leaflet-control-geolocation:hover {
  background-image: url('../../../resources/images/other/geolocation_hover.png');
}

.mapContainer p {
  margin: 0;
}

.theme-control {
  cursor: pointer;
  background-size: 75%;
  background-image: url('../../../resources/images/other/moon.png');
}

.theme-control:hover {
  background-image: url('../../../resources/images/other/moon_hover.png');
}

.theme-control_dark {
  cursor: pointer;
  background-size: 75%;
  background-image: url('../../../resources/images/other/sun.png');
}

.theme-control_dark:hover {
  background-image: url('../../../resources/images/other/sun_hover.png');
}
