.leaflet-control-geolocation {
  cursor: pointer;
  background-size: 75%;
  background-image: url('../../../resources/images/icon/geolocation.png');
}

.leaflet-control-geolocation:hover {
  background-image: url('../../../resources/images/icon/geolocation_hover.png');
}
