/*
 * This file contains all styles that should be pervasive throughout the application.
 * All HTML files should use these styles, so that changing any of the following attributes
 * can update the entire program at once.
 *
 * Any page-specific CSS, such as identifying the formatting for a particular div, should be
 * done in a page-specific CSS file.
 */

html {
   font-family: Roboto, Arial, sans-serif !important;
}

body {
   padding: 0px;
   margin: 0px;
   overflow-x: hidden;
   display: grid;
   background: #AAA;
}

select {
   font-size: inherit;
   height: 2.3em;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #EFEFEF;
   user-select: none;
}

select:active {
   background-color: #E0E0E0;
}

button {
   font-size: inherit;
   height: 2.3em;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #59cc33;
   border-bottom: 2px solid #47a527;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   color: #f9f9f9;
   user-select: none;
   cursor: pointer;
}

button:hover {
   background-color: #63e23a;
}

button:active {
   background-color: #47a527;
}

button:disabled {
   color: #dadada;
   background-color: #6e9063;
   border-bottom: 2px solid #4f7143;
}

button.RED {
   font-size: inherit;
   height: 2.3em;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #ff3030;
   border-bottom: 2px solid #8c0000;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   color: #f9f9f9;
   user-select: none;
   cursor: pointer;
}

button.RED:hover {
   background-color: #f78a8a;
}

button.RED:active {
   background-color: #8c0000;
}

button.RED:disabled {
   color: #dadada;
   background-color: #a05e5e;
   border-bottom: 2px solid #7d4343;
}

button:focus {outline:0;}

input[type=text] {
   font-size: inherit;
   height: 2.3em;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #f5f5f5;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
}

input[type=range] {
   outline: none;

   margin-top: 15px;
   margin-bottom: 15px;

   -webkit-appearance: none;
   height: 5px;
   width:75%;

   background: #d3d3d3;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance:none;

   width:15px;
   height:15px;
   border-radius:15px;
   background: #59cc33;
   cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {

   width:20px;
   height:20px;
   border-radius:15px;
   background: #63e23a;
}

input[type=range]::-webkit-slider-thumb:active {

   width:20px;
   height:20px;
   border-radius:15px;
   background: #6e9063;
}


object {
   width: 100%;
   height: 100%;
}

iframe {
   width: 100%;
   height: 100%;
   border: none;
}
