/*
 * CSS file for VEHICLESTATUSCONTAINER.HTML
 */


#vehicleStatus {
   width: calc(100% - 40px);
   padding: 20px;
}

#vehicleDataTable {
   width: 100%;
}

#vehicleAddButton {
   padding-left: 2px;
   padding-right: 2px;
   font-size: 12px;
   width:80px;
   height: 25px;
}

#vehicleMacAddress {
   font-size: 12px;
   width: calc(100% - 85px - 85px);
   padding-left: 5px;
   padding-right: 5px;
   height: 25px;
}

#vehicleRoleType {
   padding: 2px;
   font-size: 12px;
   width:80px;
   height: 25px;
}


#vehicleAddControls {
   padding-top: 5px;
   padding-bottom: 5px;
   width:100%;
}


button.goTo {
   font-size: inherit;
   width: 40px;
   height: 20px;
   margin: 1px;
   padding: 0px;
   background-color: #59cc33;
   border-bottom: 2px solid #47a527;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   color: #f9f9f9;
   user-select: none;
   background-image: url('../../resources/images/arrow.png');
   background-size: contain;
   background-repeat: no-repeat;
}

span.INIT, span.IDLE, span.ONLINE {
   font-style: italic;
   color: #000000;
}

span.SCANNING, span.MOVING, span.STARTED {
   font-style: normal;
   color: #3fff00;
}

span.ERROR {
   font-weight: 10px;
   color: rgb(240,20,20);
}

table {
   border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
   padding: 7px;
}
