/* Defined styles for MissionWindow.jsx */

.missionWrapper,
.missionWrapper_dark,
.mission,
.job {
  display: grid;
  height: 100%;
  width: 100;
}

.job {
  grid-template-areas:
    'info'
    'button';
  grid-template-rows: 7fr 1fr;
}

.infoContainer {
  grid-area: info;
}

.buttonContainer {
  grid-area: button;
}

/* Light theme */

.missionWrapper {
  background-color: #eee;
  color: #000;
}

/* Dark theme */

.missionWrapper_dark {
  background-color: #212121;
  color: #fff;
}
