/* Defined styles for MissionWindow.jsx */

.missionWrapper,
.missionWrapper_dark {
  display: grid;
  height: 100%;
  width: 100;
  grid-template-areas:
    'selector selector selector selector'
    'parameter parameter parameter mapping'
    'parameter parameter parameter options'
    'button button button button';
  grid-template-rows: 25px 1fr 1fr 25px;
  grid-template-columns: repeat(4, 1fr);
}

.selectorContainer {
  grid-area: selector;
  margin: auto;
}

.parameterContainer {
  grid-area: parameter;
}

.mappingContainer {
  grid-area: mapping;
}

.optionsContainer {
  grid-area: options;
}

.buttonContainer {
  grid-area: button;
  margin: auto;
}

/* Light theme */

.missionWrapper {
  background-color: #eee;
  color: #000;
}

/* Dark theme */

.missionWrapper_dark {
  background-color: #212121;
  color: #fff;
}

.selectorButton {
  min-width: 150px;
  margin-right: 20px;
}

.selectorSlider,
.selectorSlider_dark {
  width: 200px !important;
  display: inline-block;
}
