/* Defined styles for the whole application */

html {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  user-select: none;
}

.ReactVirtualized__Table {
  color: #bdbdbd;
}

.ReactVirtualized__Table__headerRow {
  color: #fff;
  background-color: rgb(255, 255, 255, 0.15);
  text-transform: none;
}

.ReactVirtualized__Table__row {
  width: 100%;
  border-top: 2px solid #626262;
}

.ReactVirtualized__Table__row:first-child {
  border-top: 0;
}

.ReactVirtualized__Table__row:hover {
  color: #e9e9e9;
  background-color: rgb(255, 255, 255, 0.02);
}

.success {
  color: #2e7d32;
}

.failure {
  color: #c62828;
}

.ReactVirtualized__Table__row:hover .success {
  color: #43a047;
}

.ReactVirtualized__Table__row:active .success {
  color: #76d275;
}

.ReactVirtualized__Table__row:hover .failure {
  color: #f44336;
}

.ReactVirtualized__Table__row:active .failure {
  color: #ff7961;
}
