/* Defined styles for the whole application */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  user-select: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  white-space: nowrap;
  width: 90%;
  height: 90%;
  margin: 1em auto;
}

th,
td {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5em 0.8em;
}

thead,
tbody {
  border: 1px solid #000;
  background-color: #eee;
  display: block;
}

tbody {
  max-height: 90%;
  overflow-y: auto;
}

thead {
  background-color: #9e9e9e;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

tbody tr:hover {
  background-color: #d0d0d0;
}

tbody tr:active {
  background-color: #b9b9b9;
}

.success {
  color: #357a38;
}

.failure {
  color: #aa2e25;
}
