html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}

.gridWrapper {
  background: #212121;
  display: grid;
  grid-gap: 3px;
  grid-template-areas:
    "map map map vehicle"
    "map map map vehicle"
    "map map map mission"
    "log log log mission";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.container {
  background-color: #424242;
}

.logContainer {
  grid-area: log;
}

.mapContainer {
  grid-area: map;
}

.missionContainer {
  grid-area: mission;
}

.vehicleContainer {
  grid-area: vehicle;
}
