/* Defined styles for index.js */

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
  font-size: 15px;
}

.logContainer {
  grid-area: log;
}

.mapContainer {
  grid-area: map;
}

.missionContainer {
  grid-area: mission;
}

.vehicleContainer {
  grid-area: vehicle;
}

.missionWrapper {
  height: 100%;
  width: 100%;
}

/* Light theme */

.gridWrapper {
  background: #928b8a;
  color: #000;
  display: grid;
  grid-gap: 3px;
  grid-template-areas:
    'map map map vehicle'
    'map map map vehicle'
    'map map map mission'
    'log log log mission';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.container {
  background-color: #eee;
}

/* Dark theme */

.gridWrapper_dark {
  background: #000;
  color: #fff;
  display: grid;
  grid-gap: 3px;
  grid-template-areas:
    'map map map vehicle'
    'map map map vehicle'
    'map map map mission'
    'log log log mission';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.container_dark {
  background-color: #212121;
}
